{{! No anchor. Since there's only one h2, we don't want to jump to putting the anchor at the top of the screen. }}
{{!-- <h2><a class="anchor" id="classes/{{toHtmlId short_name}}"></a>{{toTitleCase display_name}}</h2><div> --}}
<h2>{{toTitleCase display_name}}</h2>
<div>
    {{#unless single_subclass}}
        {{#if locked_desc}}<p class="flavor">{{locked_desc}}</p>{{/if}}
        {{{desc}}}
    {{/unless}}
    {{#each subclass_list}}
        <h3><a class="anchor" id="classes/{{toHtmlId ../short_name}}/{{toHtmlId short_name}}"></a>{{toTitleCase display_name}}</h3>
        <div class="class-desc well">
            <div class="class-images">
                {{#each images}}
                    <img src="img/{{file}}" width="{{#if width}}{{width}}{{else}}64{{/if}}" height="{{#if height}}{{height}}{{else}}64{{/if}}"/>
                {{/each}}
            </div>
            {{#if locked_desc}}<p class="flavor">{{locked_desc}}</p>{{/if}}
            {{{desc}}}
            <div class="wiki-link">
                <a href="http://te4.org/wiki/{{toWikiPage name}}">View Wiki</a>
            </div>
        </div>
        <div class="class-detail-container container-fluid">
            <div class="col-md-4">
                <h4>属性值</h4>
                <dl class="dl-horizontal stats">
                    {{stat "力量" stats.str}}
                    {{stat "敏捷" stats.dex}}
                    {{stat "体质" stats.con}}
                    {{stat "魔法" stats.mag}}
                    {{stat "意志" stats.wil}}
                    {{stat "灵巧" stats.cun}}
                    {{stat "每等级生命加值" copy_add.life_rating}}
                </dl>
            </div>
        </div>
        <div class="class-detail-container container-fluid">
            {{$ 'class_talents' talents_types=talents_types_class title='职业技能' css_class='class-talents' }}
            {{$ 'class_talents' talents_types=talents_types_generic title='通用技能' css_class='generic-talents' }}
        </div>
    {{/each}}
</div>
